
h1{
    color:rgb(67, 136, 148);
    margin-left: 50px;
    margin-top: 20px;
} 

.title {
    background-color: rgb(245, 212, 234);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 1px 0;
}

#quote {
    margin-left: 50px;
    text-align: center;
}

h3 {
    color: rgb(245, 212, 234);
    align-items: center;
}

body {
    background-color: rgb(67, 136, 148);
    color: azure;
    font-family: Andale-Mono, monospace;
    line-height: normal;

    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-me{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
}

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
}


#glow {
    box-shadow: 0 0 20px rgba(252, 85, 185, 0.55);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
}

#glow:hover,
#glow:focus-visible {
    box-shadow: 0 0 40px rgba(253, 101, 192, 0.9);
    filter: drop-shadow(0 0 70px rgb(252, 85, 185));
}

h2 {
    transition: color 1s ease, filter 1s ease;
}

#quote:hover {
    color: rgb(155, 223, 255);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.link {
    color:rgb(134, 216, 253);
}

.link:hover {
    color: rgb(252, 85, 185);
}

.link:visited {
    color: rgb(190, 218, 223);
}

.image1 {
    display: block;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 50%;
    width: 95%;
}

.image2 {
    display: block;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 50%;
    width: 75%;
}

.image3 {
    display: block;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 50%;
    width: 93%;
}

.quote {
    color: rgb(190, 218, 223);
}

@media (max-width: 1200px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .section {
        max-width: 500px;
        margin: 15px 0;
    }

    .section img {
        width: 70%;
    }
}
@media (max-width: 992px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .section {
        max-width: 500px;
        margin: 15px 0;
    }

    .section img {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .section img {
        width: 90%;
    }
}

.album-cover {
    width: 230px;
}

.albums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;     
  justify-content: space-evenly;
}

.favorites {
    margin-bottom: 100px;
}

#click {
    color: azure;
}

#favs {
    color: rgb(245, 212, 234);
} 