h1{
    color:rgb(67, 136, 148);
    margin-left: 50px;
    margin-top: 20px;
} 

.title {
    background-color: rgb(245, 212, 234);
    width: 100%;
    padding: 1px;
}

h2 {
    margin-left: 50px;
}

h3 {
    color: rgb(245, 212, 234);
    align-items: center;
}

body {
    background-color:rgb(67, 136, 148);
    color:azure;
    font-family:Andale-Mono, monospace;
    line-height: normal;
}

.about-me{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}

.section {
    display: flex; 
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
} 


#glow {
    box-shadow: 0 0 20px rgba(252. 85. 185. 0.55);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
}

#glow:hover,
#glow:focus-visible {
    box-shadow: 0 0 40px rgba(253, 101, 192, 0.9);
    filter: drop-shadow(0 0 70px rgb(252, 85, 185));
}

.link {
    color:rgb(190, 218, 223);
}

.link:hover {
    color: rgb(252, 85, 185);
}

.image1 {
    display: block;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
    width: 85%;
    float: left;
}

.image2 {
    display: block;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
    width: 68%;
    float: left;
}

.image3 {
    display: block;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
    width: 97%;
    float: left;
}

.quote {
    color: rgb(190, 218, 223);
}

@media (max-width: 1200px) {
    .about-me {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .section {
        max-width: 992px;
        margin: 15px 0;
    }

    .section img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .section img {
        width: 90%;
    }
}